:root {
  --dark-bg-color: #2e2d2f;
  --light-bg-color: #fff;
  --primary: #2b94f6;
  --secondary: #ed4264;
  --light: #b6fbff;
}

* {
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.5s ease;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
